* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    margin: auto;
}

body {
    width: 70%;
    background-color: #bccad6;
}

header {
    text-align: center;
    margin: 25px 0;
    color: #667292;
}

p {
    padding: .5rem 0;
}

.tile {
    margin: 1rem;
    background-color: #667292;
    border-radius: 1rem;
}

footer {
    width: 20%;
    border-radius: 1rem;
    text-align: center;
}

footer p {
    color: #667292;
}

a:hover {
    color: #f1e3dd;
}

.main-container {
    display: flex;
    flex-direction: row;
}

h2 {
    text-align: center;
}

.filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    padding: 1.5rem;
    color: #f1e3dd;
}

.jobs {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
}

.middle h2 {
    color: #f1e3dd;
    padding: 1.5rem;
    padding-bottom: 1rem;
}

img {
    float: left;
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 15%;
    margin-right: .5rem;
}

section {
    height: 100%;
}

.listing {
    float: left;
    color: #f1e3dd;
    margin: .25rem;
}

button {
    padding: 1rem;
    margin: 1rem;
    width: 80%;
}

.friends {
    padding: 1.5rem;
    color: #f1e3dd;
}

.main-container .middle {
    flex-grow: 2;
}

.topnav {
    overflow: hidden;
    background-color: #e9e9e9;
  }