* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    margin: auto;
}

body {
    width: 70%;
    background-color: #bccad6;
}

header {
    text-align: center;
    margin: 25px 0;
    color: #667292;
}

p {
    padding: .5rem 0;
}

a {
    text-decoration: none;
    color: #bccad6;
}
.tile {
    margin: 1rem;
    background-color: #667292;
    border-radius: 1rem;
}

.container {
    padding: 1.5rem;
    color: #f1e3dd;
}

footer {
    width: 20%;
    border-radius: 1rem;
    text-align: center;
}

footer p {
    color: #667292;
}

a:hover {
    color: #f1e3dd;
}

.main-container {
    display: flex;
    flex-direction: row;
}